<%= simple_form_for campaign, html: {
  class: "js-validate",
  data: {
    controller: "campaign-form",
    target: "campaign-form.form",
    selected_creative_ids: campaign.creative_ids,
  }
}, wrapper: :front_form do |f| %>
  <%= render "/@shared/forms/section_heading", title: "Campaign Details", subtitle: "Tell us about your campaign" %>
  <%= render "/@shared/forms/error_messages", object: campaign %>

  <div class="row">
    <% if authorized_user.can_admin_system? %>
      <%= tag.div f.input(:user_id, label: "Advertiser", collection: advertisers_for_select, required: true,
        input_html: { class: "form-control", data: {
          controller: "select",
          target: "campaign-form.advertiserSelectField"
        }}), class: "col-md-6 mb-3" %>
    <% else %>
      <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
      <div class="col-md-6 mb-3">
        <div class="js-form-message js-focus-state string required property_name">
          <label class="form-label string required" for="property_name">Advertiser <abbr title="required">*</abbr></label>
          <input type="text" class="form-control" placeholder="<%= current_user.name %>" aria-label="<%= current_user.name %>" readonly>
        </div>
      </div>
    <% end %>
    <%= tag.div f.input(:status, label: "Status", collection: ENUMS::PROPERTY_STATUSES.values.map { |status| [status.capitalize, status] }, required: true,
      input_html: { class: "form-control", data: { controller: "select" }}), class: "col-md-6 mb-3" if authorized_user.can_admin_system? %>
    <%= tag.div f.input(:name, required: true, input_html: { class: "form-control" },
      data: { msg: "Please enter a property name", error_class: "u-has-error", success_class: "u-has-success" }), class: "col-md-6 mb-3" %>
    <%= tag.div f.input(:date_range, required: true,
        input_html: {
          class: "js-range-datepicker form-control bg-white rounded-right",
          data: {
            controller: "select-date-range",
            start_date: (campaign.start_date || Date.today).strftime("%m/%d/%Y"),
            end_date: (campaign.end_date || 29.days.from_now).strftime("%m/%d/%Y")
          }
        }), class: "col-md-6 mb-3" if authorized_user.can_admin_system? %>
    <%= tag.div f.input(:url, as: :string, placeholder: "https://", required: true, input_html: { class: "form-control" },
      data: { msg: "Please enter a valid URL", error_class: "u-has-error", success_class: "u-has-success", rule_url: true }), class: "col-12 mb-3" %>
  </div>

  <hr class="mt-3 mb-4" />

  <%= render "/@shared/forms/section_heading", title: "Creatives",
    subtitle: "Pick which creatives you would like to use (only approved creatives are available)",
    help: "Multivariate testing is used to determine the most effective creative" %>

  <div class="row" data-target="campaign-form.creativesWrapper">
    <%= render partial: "/creative_options/options",
        locals: {
          selected_creative_ids: campaign.creative_ids,
          creatives: campaign.user.creatives.active.order(name: :asc)
        } %>
  </div>

  <% if campaign.fixed_ecpm || authorized_user.can_admin_system? %>
    <hr class="mt-3 mb-4" />

    <%= render "/@shared/forms/section_heading", title: "Targeting", subtitle: "Who do you want this campaign to reach?" %>

    <div class="row"
         data-controller="geo-targets"
         data-selected-country-codes="<%= campaign.country_codes.join(",").html_safe %>"
         data-selected-province-codes="<%= campaign.province_codes.join(",").html_safe %>">
         <%= f.input_field :country_codes, as: 'hidden', data: { target: 'geo-targets.countryCodes' } %>
         <%= f.input_field :province_codes, as: 'hidden', data: { target: 'geo-targets.provinceCodes' } %>
      <div class="col-12">
        <%= f.label :country_codes, label: "Targeted Countries", class: "form-label", required: true %>
        <% Province.hierarchical_region_data.each do |region_name, region_data| %>
          <div class="form-check mb-3 geo-targets__toggle-container">
            <div class="geo-targets__checkbox">
              <i class="fa fa-caret-right geo-targets__caret" data-action="click->geo-targets#toggleContainerElement"></i>
              <%= check_box_tag region_name, nil, false, class: "form-check-input", data: { action: "change->geo-targets#toggle", leaf: "region" } %>
              <%= label_tag region_name, region_name, class: "form-check-label font-weight-bold" %>
            </div>
            <% region_data[:subregions].each do |subregion_name, subregion_data| %>
              <div class="form-check mb-3 geo-targets__toggle-container">
                <div class="geo-targets__checkbox">
                  <i class="fa fa-caret-right geo-targets__caret" data-action="click->geo-targets#toggleContainerElement"></i>
                  <%= check_box_tag subregion_name, nil, false, class: "form-check-input", data: { action: "change->geo-targets#toggle", leaf: "subregion", region: region_name } %>
                  <%= label_tag subregion_name, subregion_name, class: "form-check-label font-weight-bold" %>
                </div>
                <% subregion_data[:countries].each do |country_name, country_data| %>
                  <div class="form-check mb-2 geo-targets__toggle-container">
                    <div class="geo-targets__checkbox">
                      <i class="fa fa-caret-right geo-targets__caret" data-action="click->geo-targets#toggleContainerElement"></i>
                      <%= check_box_tag country_name, nil, false, class: "form-check-input",
                        data: { action: "change->geo-targets#toggle", leaf: "country", iso_code: country_data[:iso_code], region: region_name, subregion: subregion_name } %>
                      <%= label_tag country_name, "#{country_data[:emoji_flag]} #{country_name}", class: "form-check-label font-weight-bold" %>
                    </div>
                    <% country_data[:provinces].each do |province_name, province_data| %>
                      <div class="form-check mb-1">
                        <div class="geo-targets__checkbox">
                          <%= check_box_tag province_name, nil, false, class: "form-check-input",
                            data: { action: "change->geo-targets#toggle", leaf: "province", iso_code: province_data[:iso_code], region: region_name, subregion: subregion_name, country: country_name } %>
                          <%= label_tag province_name, province_name, class: "form-check-label font-weight-light" %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if authorized_user.can_admin_system? %>

    <hr class="mt-3 mb-4" />

    <%= render "/@shared/forms/section_heading", title: "Budget", subtitle: "Let's talk numbers" %>

    <div class="row">
      <div class="col-md-6 mb-3">
        <%= f.input(:ecpm, as: :currency, currency: "$") %>
        <small id="passwordHelpBlock" class="form-text text-muted">
          Effective cost per thousand impressions
        </small>
      </div>
      <%= tag.div f.input(:total_budget, label: "Total Budget Cap", as: :currency, currency: "$"), class: "col-md-6 mb-3" %>
    </div>

    <div class="row">
      <%= tag.div f.input(:hourly_budget, label: "Hourly Budget Cap", as: :currency, currency: "$"), class: "col-md-6 mb-3" %>
      <%= tag.div f.input(:daily_budget, label: "Daily Budget Cap", as: :currency, currency: "$"), class: "col-md-6 mb-3" %>
    </div>

    <div class="row">
      <div class="col-12 mb-3 mt-4">
        <div class="media align-items-center mb-3">
          <label class="checkbox-switch mb-0 mr-3">
            <%= f.check_box :fixed_ecpm, class: "checkbox-switch__input" %>
            <span class="checkbox-switch__slider"></span>
          </label>
          <label class="media-body text-muted mb-0">
            <span class="d-block text-dark">Use fixed eCPM pricing? <small class="ml-2 text-muted">Do NOT adjust by country</small></span>
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-3 mt-4">
        <div class="media align-items-center mb-3">
          <label class="checkbox-switch mb-0 mr-3">
            <%= f.check_box :fallback, class: "checkbox-switch__input" %>
            <span class="checkbox-switch__slider"></span>
          </label>
          <label class="media-body text-muted mb-0">
            <span class="d-block text-dark">Is this a fallback campaign?</span>
          </label>
        </div>
      </div>
    </div>
  <% end %>

  <%= render "@shared/forms/button_panel" do %>
    <%= f.submit "Save Campaign", class: "btn btn-sm btn-primary transition-3d-hover mr-1" %>
    <%= link_to "Cancel", campaigns_path, class: "btn btn-sm btn-soft-secondary transition-3d-hover" %>
  <% end %>
<% end %>
